# All text files are CRLF
*.bat         text eol=crlf
*.c           text eol=crlf
*.cfg         text eol=crlf
*.cpp         text eol=crlf
*.h           text eol=crlf
*.hpp         text eol=crlf
*.ini         text eol=crlf
*.json        text eol=crlf
*.md          text eol=crlf
*.plantuml    text eol=crlf
*.puml        text eol=crlf
*.py          text eol=crlf
*.toml        text eol=crlf
*.txt         text eol=crlf
*.yaml        text eol=crlf
*.yml         text eol=crlf

# Linux shell scripts should be LF
*.bash        text eol=lf
*.sh          text eol=lf
*.zsh         text eol=lf

# Images should be treated as binary
*.jpeg        binary
*.jpg         binary
*.png         binary
