# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
wheels/
share/python-wheels/
*.egg-info/
*.egg
MANIFEST
version_selector_data.js

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

.pdm.toml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Exported files
*export*.json

# Certificates
*.pem
*.crt

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Generated tool output directories
doc/detailed-design/

# Requirement conversion output files
examples/plantuml/out/
examples/simple_req/out/
examples/simple_req_multi/out/
examples/simple_req_multi_single_out/out/
examples/simple_req_proj_spec/out/
examples/simple_req_translation/out/
tools/plantUML/plantuml.jar
tools/*/out/
tests/out/
