@import 'haiku.css';

@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=850362e1-4bbb-4e8b-8dbb-53c332c38175&fontids=5227398,5364007,5780718");
@font-face{
    font-family:"Frutiger_LT_W05_55_Roman";
    src:url("../fonts/Frutiger_LT_W05_55_Roman.woff2") format("woff2"),url("../fonts/Frutiger_LT_W05_55_Roman.woff") format("woff");
}
@font-face{
    font-family:"Frutiger_LT_W05_45_Light";
    src:url("../fonts/Frutiger_LT_W05_45_Light.woff2") format("woff2"),url("../fonts/Frutiger_LT_W05_45_Light.woff") format("woff");
}

body {
    font-family: 'Frutiger_LT_W05_45_Light', Arial, Helvetica, sans-serif;
    max-width: 75% !important;
}


table.align-default {
    margin-left: 0;
    margin-right: 0;
}

div.admonition {
    /*  background-color: #f7f2f3;*/
    background-color: #0C2C40 ;
}

p.admonition-title {
    background-color: #93bdff;
}

.red {
    color: red;
}

.green {
    color: green;
}

p.admonition-title {
    span.caption-text {
        display: block;
        text-align: center;
    }
}

.wy-nav-content {
    max-width: none;
}



