@import 'haiku.css';

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: none !important;
}


table.align-default {
    margin-left: 0;
    margin-right: 0;
}

div.admonition {
    /*  background-color: #f7f2f3;*/
    background-color: #0C2C40 ;
}

p.admonition-title {
    background-color: #93bdff;
}

.red {
    color: red;
}

.green {
    color: green;
}

p.admonition-title {
    span.caption-text {
        display: block;
        text-align: center;
    }
}

.wy-nav-content {
    max-width: 100% !important;
}
.rst-content {
    width: 100% !important;
    padding: 20px !important;
}




